services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres-mitocode
    # Carga todas las variables definidas en el archivo .env
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data: